.obos-container{
    flex-wrap: nowrap !important;
    overflow-x:hidden;
    overflow-y:hidden;
    /* justify-content: center; */
    position: absolute;
}
.obos-item{

}
.obos-nav-left, .obos-nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.obos-nav-left{
    position: absolute;
    width:10%;

    z-index:9999;
}

.obos-nav-left:hover{
    cursor:pointer;
}

.obos-nav-right{
    position: absolute;
    right:0;
    width:10%;

    z-index:9999;
}

.obos-nav-right:hover{
    cursor:pointer;
}

.obos-nav-left:hover b{
    opacity:1;
}
.obos-nav-left-item, .obos-nav-right-item{
    font-size:48px;
    opacity:0.3;
}

.obos-nav-left:hover .obos-nav-left-item{
    opacity:1;
}

.obos-nav-right:hover .obos-nav-right-item{
    opacity:1;
}